
.booking_list {
  list-style: none;
  margin-top: 10px;
  li {
    h3 {
      color: #15AABF;
    }
  }
}
.content_booking, .content_confirmed {
  img {
    object-fit: cover;
    background-position: center;
    width: 300px;
    height: 200px;
  }
}

.waiting_title {
  color:  #5A6268;
  font-weight: 700;
}

.confirmed_title {
  color:  #343A40;
  font-weight: 700;
}

.confirmed_list {
  list-style: none;
  li h3 {
  color: #FD7E14;
}}

.wrapper {
  margin-top: 100px;
}

.confirmed, .confirmed_title, .waiting_title, .waiting {
  font-family: 'Heebo', sans-serif;
  letter-spacing: 0.5px;
}
