// Import page-specific CSS files here.
@import "home";

html {
  scroll-behavior: smooth;
}

.banner {
  height: 100vh;
  background-size: cover;
  padding: 50px;
  h1 {
    color: white;
    font-size: 80px;
    text-align: center;
  }
  a {
    color: white;
    font-size: 60px;
  }
}

.card-container {
  width: 1200px;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-template-rows: 400px auto;
  grid-gap: 16px;
  padding: 20px;
}

.tour-card {
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  img {
    object-fit: cover;
    background-position: center;
    width: 300px;
    height: 150px;
  }
  .tour-info {
    padding: 10px;
  }
}

.tour-link {
  color: #1f1f1f;
  &:hover {
    text-decoration: none;
    color: #1f1f1f;
    background-color: #ffc659;
  }
}

#map {
  position: sticky;
  top: 0;
}
