.request {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 370px;
  max-width: 290px;
  h5 {
    font-family: 'Heebo', sans-serif;
    letter-spacing: 0.5px;
  }
  .tour_cost {
    text-align: center;
    color: #15AABF;
    font-weight: 700;
    font-size: 28px;
    padding:8px 16px;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 0.5px;
    }
}

.tour-photo {
  img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    background-position: center;
  }
}

.tour-banner {
  height: 500px;
  background-size: cover;
  padding: 50px;
}

.tour-description {
  h3 {
    font-family: 'Heebo', sans-serif;
    letter-spacing: 0.5px;
  }
  p {
    font-weight: 300;
  }
}
