<div class="banner" style="background-image: url('https://source.unsplash.com/random');">
  <h1>Thu's Tour</h1>
</div>

<div class="container d-flex">
  <div class="cards">
    <div class="card">
      <img src="https://source.unsplash.com/random" alt="">
      <div class="tour-info">
        <h5>Tour name</h5>
        <p>tour description</p>
      </div>
    </div>

  </div>
  <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoicGFvZWF3IiwiYSI6ImNqdDlsOTRrbzAxZTYzeXN6OXhvbDJ4ejgifQ.kXen63XvDghWbq-1W21DjA
'></div>

