.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown {
  position: relative;
}

#num-requests {
  background-color: #ffc65a;
  color: white;
  border-radius: 5px;
  padding: 0 5px;
}

.fa-bell {
  color: #ffc65a;
  position: absolute;
  right: -7px;
  top: -4px;
}
