// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import "pages/bookings";
@import "pages/providers_bookings";
@import "pages/providers_tours";
@import "pages/toursnew";

@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700');

body {
  font-family: 'Heebo', sans-serif;
  letter-spacing: 0.5px;
}

.logo {
  color: white;
  font-size: 28px,
}

.logo:hover {
  text-decoration: none;
  color: #FFC65A;
}

.navbar-nav li a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.navbar-nav li a:hover{
   color: #FFC65A;
}

#nav-search {
  margin-left: 16px;
}

.dropdown-menu .dropdown-item {
  color: #BFBFBF;
}

.devise-form {
  h2 {
    margin-top: 100px;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 0.5px;
  }

}

// navbar style //
.dropdown-menu .dropdown-item {
    color: #343A40;
}
