<br>
<br>
<br>
<br>
<br>
<div class="container">
  <% current_user.tours.each do |tour| %>
    <% if tour.bookings.any? %>
      <h1> <%= tour.name %> </h1>
      <% tour.bookings.each do |booking| %>
        <h2> by <%= booking.customer.name %> </h2>
        <% if booking.confirmed == true %>
          <br>
          <h3> Confirmed </h3>
        <% else %>
          <br>
          <h3> Unconfirmed </h3>
        <% end %>
        <%= link_to "confirm", providers_booking_path(booking), method: :patch %>
      <% end %>
    <% end %>
  <% end %>
</div>
